<a href="https://colab.research.google.com/github/SatyaKaruturi/Python-Tuple-Exercises/blob/master/Python_et_les_tuples_Satya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Crée un tuple de ton choix contenant 10 éléments dans cet ordre :
- 3 int
- 3 str
- 2 listes contenant 3 éléments chacune
- 2 dictionnaires contenant 3 éléments (3 paires clé/valeur) chacun 


Accède à l'avant avant dernier élément de la deuxième liste.

In [0]:
my_tuple =  (2, 3, 4, "a", "b", "c")
my_liste1 = [2, 3, 4]
my_liste2 = ["a", "b", "c"]
my_dict1 = {"int1": 1, "int2": 2, "int3": 3}
my_dict2 = {"let1": "a", "let2": "b", "let3": "c"}

mon_tuple2 = (my_tuple, my_liste1, my_liste2, my_dict1, my_dict2)

mon_tuple2[2][-3]

'a'

# Mission 2

Pour le même tuple, accède aux 4 derniers éléments grâce au sciling

In [0]:
my_tuple[2:6]

(4, 'a', 'b', 'c')

# Mission 3

Change la valeur du 4ème élément (la 1ère chaine de caractère) de ton tuple (oui oui c'est possible !)

In [0]:
L1 = list(my_tuple)
L1[3] = "k"
Tuple1 = tuple(L1)
Tuple1

(2, 3, 4, 'k', 'b', 'c')

# Mission 4

Crée 2 tuples qui ne contiennent que des int.
Crée une fonction qui les compare entre eux et indique lequel à la valeur la plus élevée quand on additionne toutes les valeurs qu'il contient.

In [0]:


def highvalue(T1,T2):
  if sum(T1)> sum(T2):
    print(T1)
  else:
    print(T2)
    
highvalue((5,4,8,6), (2,7,4,3) )

(5, 4, 8, 6)

# Mission 5

Voilà un tuple :

mon_tuple = ("data analyst", "data scientist", "data ingénieur", "data architect")

Créer une fonction qui permet de modifier une des valeurs d'un tuple en indiquand la position de la valeur à modifier. Faites le test avec mon_tuple.

In [0]:
def element_change(mon_tuple, i, value):

     L1 = list(mon_tuple)
     L1[i - 1]= value
     return tuple(L1)

element_change(("data analyst", "data scientist", "data ingénieur", "data architect"), 2, "Business analyst")

('data analyst', 'Business analyst', 'data ingénieur', 'data architect')